.button {
    font: inherit;
    border: 1px solid #94002c;
    background: #94002c;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #fd004c;
    border-color: #fd004c;
  }
  
  .button:focus {
    outline: none;
  }